@import "tailwindcss";

@layer base {
  h1,
  h2,
  h3,
  h4 h5,
  h6,
  p,
  span,
  a,
  li,
  button,
  label,
  th,
  td,
  legend,
  summary,
  dt,
  dd {
    text-box-trim: trim-both;
    text-box-edge: cap alphabetic;
    font-family: "Josefin Sans", sans-serif;
  }
}

input {
  font-family: "Josefin Sans", sans-serif;
}

button {
  @apply cursor-pointer;
}

.testing-border {
  @apply border border-red-600;
}

@theme {
  --font-josefin-sans: "Josefin Sans", sans-serif;

  --color-pink-400: #ce9797;
  --color-red-500: #f96262;
  --color-gray-900: #413a3a;
}
