* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #f4d04e;
    --white: #ffffff;
    --gray-500: #6b6b6b;
    --gray-950: #121212;

    --primary-font: 'Figtree', sans-serif;
    --font-style-bold: 800;
    --font-style-regular: 500;
    --primary-font-size: 1.2rem;
    --secondary-font-size: 1.5rem;
    --heading-font-sie: 2rem;
}

/* ===== MOBILE FIRST APPROACH ===== */

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
    padding: 3rem;
}

.card-container {
    width: 100%;
    min-width: 32rem;
    font-family: 'Figtree', sans-serif;
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 2rem;
    border: 1px solid #121212;
    box-shadow: 1rem 1rem 0 black;
}

.blog-banner {
    width: 100%;
    border-radius: 1rem;
}

.blog-tag {
    width: fit-content;
    background-color: var(--yellow);
    font-size: var(--primary-font-size);
    font-weight: var(--font-style-bold);
    padding: .5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    color: var(--gray-950);
}

.blog-published-date {
    font-size: var(--primary-font-size);
    margin-bottom: 2rem;
    color: var(--gray-950);
}

.blog-title {
    width: fit-content;
    color: var(--gray-950);
    font-size: 2rem;
    font-weight: var(--font-style-bold);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.blog-title:hover {
    color: var(--yellow);
}

.blog-description {
    font-size: 1.5rem;
    color: var(--gray-500);
    line-height: 150%;
    margin-bottom: 2.5rem;
}

.blog-author-container {
    display: flex;
    align-items: center;
}

.author-profile-picture {
    width: 3.5rem;
    margin-right: 1.5rem;
}

.author-name {
    font-size: 1.5rem;
    font-weight: var(--font-style-bold);
}

/* ===== DESKTOP VERSION ===== */

@media (min-width: 1024px) {
    :root {
        --primary-font-size: 1.5rem;
        --secondary-font-size: 1.6rem;
    }

    body {
        padding: 0;
    }

    .card-container {
        max-width: 40rem;
    }

    .author-profile-picture {
        width: 4rem;
        margin-right: 1rem;
    }
}