* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Outfit", sans-serif;
}

:root {
  --blue-500: #8bacda;
  --cyan-400: #00fff7;
  --blue-950: #0d192b;
  --blue-900: #14253d;
  --blue-800: #2f415b;
  --white: #ffffff;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-950);
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

.nft-card {
  max-width: 35em;
  height: auto;
  background-color: var(--blue-900);
  padding: 2.5em 2.5em 1.5em 2.5em;
  border-radius: 2em;
  margin: 3rem 0;
  box-shadow: 0 2em 5em 1em rgba(0, 0, 0, 0.2);
}

.nft-banner {
  max-width: 30em;
  max-height: 30em;
  border-radius: 1em;
  overflow: hidden;
  position: relative;
}

.nft-image {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.nft-content {
  width: 100%;
  height: auto;
  margin-top: 3em;
}

.nft-name {
  font-size: 2.2em;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
}

.nft-description {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 22px;
  color: var(--blue-500);
  margin-top: 25px;
}

.nft-stats-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.nft-price {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  font-weight: 400;
  color: var(--cyan-400);
  gap: 5px;
}

.days-left {
  display: flex;
  align-items: center;
  font-size: 1.6em;
  font-weight: 300;
  color: var(--blue-500);
  gap: 10px;
}

hr {
  border: 1px solid var(--blue-800);
  margin-top: 25px;
}

.author-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.author-avatar {
  height: 3.1em;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.author-name {
  color: var(--blue-500);
  font-size: 1.6em;
  font-weight: 300;
}

.author-name span {
  cursor: pointer;
}

@media (min-width: 769px) {
  .nft-name:hover {
    color: var(--cyan-400);
  }

  .overlay:hover {
    opacity: 1;
  }

  .author-name span:hover {
    color: var(--cyan-400);
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .nft-name:active {
    color: var(--cyan-400);
  }

  .author-name span:active {
    color: var(--cyan-400);
    font-weight: 400;
  }
}
